@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary1: #1877F2;
    --primary2: #F8E831;
    --secondary1: #0c62d3;
    --secondary2: #F7A200;
    --text1: #0A1931;
    --text2: #ffffff;

}


::selection {
    color: var(--text2);
    background: var(--primary1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text1)
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Home style */

.head {
    width: 100%;
}

.item {
    text-align: center;
    position: relative;
}

.item img {
    width: 100%;
}


.item .headertext {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--text2);


}

.headertext h1 {
    color: var(--text2);
    font-size: 74px;
    font-weight: 900;
    padding: 8px 16px;
    line-height: 87px;

}

.headertext div {
    text-align: center;
}

.book {
    margin-top: 30px;
    border: none;
    width: 200px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary1);
    color: var(--text2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(50% - 100px);
}

.book:hover {
    background-color: var(--secondary1);
    color: var(--text2);
}

.dotbox {
    position: relative;
}

.dotbox .left {
    position: absolute;
    left: 15px;
    top: 0px;
    height: 120px;
}

.dotbox .right {
    position: absolute;
    right: 15px;
    top: 0px;
    height: 120px;
}

.sectionHeading {
    padding: 36px 16px;
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: var(--primary1);
}


/* About Us */

.aboutImage {
    width: 80%;
    height: auto;
    margin: 2% 10% 2% 10%;
}

.about_box {
    padding: 14% 6% 2% 2%;
}

.about_box p {
    font-size: 18px;
    line-height: 32px;
}


/* Service */

.serviceBox {
    width: 100%;
    height: 312px;
    position: relative;
    background-color: var(--text2);
    box-shadow: 7px 7px 30px 0 rgb(0 0 0 / 7%);

    margin: 36px;
    border-radius: 12px;
}

.serviceImgBox {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 500px;
    top: -60px;
    left: 20px;
    background-color: var(--text2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 30px 0 rgb(0 0 0 / 7%);
}

.serviceImgBox img {
    width: 60px;
    height: auto;
}

.serviceContent {
    position: absolute;
    left: 0px;
    bottom: 8px;
    padding: 16px;
}

.serviceContent h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.serviceContent p {
    font-size: 17px;
}

.serviceBtn {
    color: var(--text1);
    font-weight: 700;
    font-size: 16px;
    padding: 4px 4px;
}

.serviceBtn:hover {
    background-color: var(--primary1);
    color: var(--text2);
}


/* cloud partner */

.cloudBox {
    text-align: center;
    background-color: var(--text2);
    border-radius: 16px;
    margin: 2px 40px 10% 40px;
    width: auto;
    height: 280px;
    border: 2px solid #d5dde9;
}


.cloudBox:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: none;
}


.cloudBox img {
    padding: 8px;
    height: 160px;
}

.cloudBox p {
    font-size: 17px;
    font-weight: 400;
    padding: 6px;
    color: var(--text1);
    width: 100%;
    margin: 1% 2%;
    text-align: left;
}


/* why us */

.whyImage {
    width: 80%;
    height: auto;
    margin: 0% 10% 0% 10%;
}

.whyBox {
    padding: 24% 20% 2% 20%;
}

.whyBox p {
    font-size: 18px;
    line-height: 32px;
}


/* Contact  */

.sectionText {
    font-size: 18px;
    padding: 0px 180px 0px 180px;
    text-align: center;
}

.details i {
    font-size: 22px;
    padding: 6px;
    margin: 0px 16px 0px 0px;
    color: var(--primary1);
}

.details {
    display: flex;
    width: 70%;
    margin: 36px 40px 20px 40px;
}

.details .head {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}

.details .sub-title {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

input {
    width: 100%;
    height: 44px;
    margin: 5px 0;
}

textarea {
    width: 100%;
    margin: 5px 0;
}

select {
    width: 100%;
    height: 44px;
    margin: 5px 0;
}

.contactInput,
.selectinput,
.messageinput {
    border-color: #d1d5db;
    color: var(--primary1);
}

.contactInput:focus,
.selectinput:focus,
.messageinput:focus {
    box-shadow: none;
    border-color: var(--secondary1);
    color: var(--secondary1);
}

.submit {
    margin-top: 24px;
    border: none;
    width: 200px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary1);
    color: var(--text2);
    margin: 18px 0px 6px 12px;
}

.submit:hover {
    background-color: var(--secondary1);
}

.bookCta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 28px;
    padding: 30px 0px;
}
.bookCta h3{
    font-size: 56px;
    line-height: 70px;
    font-weight: 600;
    padding:  0px 56px ;
    color:var(--text1);
}

@media (max-width: 947px) {

    .item {
        height: 400px;
    }

    .item img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .item div {
        font-size: 36px;
        line-height: 54px;
    }

    .headertext h1 {
        font-size: 32px;
        padding: 8px 16px;
        line-height: 36px;

    }

    .sectionHeading {
        padding: 30px 16px;
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        margin: 0px 0px 0px 0px;
    }

    .aboutImage {
        width: 86%;
        height: auto;
        margin: 0% 7% 0% 7%;
    }


    .about_box {
        padding: 7% 0%;
        margin: 0px 16px;
    }

    .about_box p {
        font-size: 16px;
        line-height: 25px;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .serviceBox {
        height: 260px;
        margin-bottom: 64px;
    }

    .serviceImgBox {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 500px;
        top: -40px;
        left: 16px;

    }

    .serviceImgBox img {
        width: 44px;
        height: auto;
    }

    .serviceContent {
        position: absolute;
        left: 0px;
        bottom: -2px;
        padding: 16px;
    }

    .serviceContent h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .serviceContent p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .serviceBtn {
        font-size: 13px;
        padding: 4px 4px;
    }

    .cloudBox {
        border-radius: 12px;
        margin: 5% 12px;
        border: 2px solid;
        height: 230px;
    }

    .cloudBox img {
        padding: 8px;
        height: 130px;
    }

    .cloudBox p {
        font-size: 14px;
        color: var(--text1);
        width: 100%;
        margin: 0px;
        padding: 14px;
    }

    .whyImage {
        width: 96%;
        height: auto;
        margin: 0% 2%;
    }


    .whyBox {
        padding: 2% 0%;
        margin: 0px 16px;
    }

    .whyBox p {
        font-size: 15px;
        line-height: 25px;
    }

    .sectionText {
        font-size: 18px;
        padding: 0px 16px 0px 16px;
    }

    .details {
        width: 100%;
        margin: 0px;
        padding: 14px 16px;
    }

    .details i {
        font-size: 20px;
        padding: 6px;
    }

    .details .head {
        font-size: 18px;
        line-height: 26px;
    }

    .details .sub-title {
        font-size: 16px;
        line-height: 24px;
    }

    .contactform {
        margin-right: 0px;
    }

    .contactform .contactInput,
    .contactform .selectinput,
    .contactform .messageinput {
        margin: 0px 16px;
        padding: 5px 16px;
        width: 94%;
    }

    .submit {
        margin: 20px 0px 6px 30px;
    }

    .bookCta h3{
        font-size: 24px;
        line-height: 30px;
        padding: 4px;
    
    }
    .bookCta{
        margin-top: 0px;
        padding: 16px;
    }
}